.techtools {
    display: flex;
    width: 100%;
    height: auto;
    padding: 2.5% 0;
    justify-content: center;
    align-items: center;
}

.techtools__content {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.techTools__tit {
    font-size: 24px;
    padding: 1.25% 0;
    text-align: center;
}

.techtools__content ul {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.techtools__content ul li {
    width: 20%;
    height: 20%;
    padding: 1.25%;
}

.techtools__content ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techtools__content ul li:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.techtools__content ul li a img {
    width: 64px;
}

.techtools__content ul li a span {
    font-size: 16px;
}

@media screen and (max-width: 450px) {
    .techTools__tit {
        padding: 2.5% 0;
    }

    .techtools__content ul li {
        padding: 2.5%;
        width: 33%;
    }
 
    .techTools__tit {
        font-size: 20px;
    }

    .techtools__content ul li {
        flex: 0 1 calc(33% - 10px);
    }

    .techtools__content ul li a img {
        width: 48px;
    }
}


@media screen and (max-width: 225px) {
    .techtools, .techTools__tit, .techtools__content ul li {
        padding: 5% 0;
    }
    
    .techtools__content ul li {
        width: 50%;
        flex: 0 1 calc(50% - 10px);
    }

    .techTools__tit {
     font-size: 14px;
    }

    .techtools__content ul li a img {
        width: 32px;
    }

    .techtools__content ul li a span {
        font-size: 12px;
    }
}