@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #04080d;
    align-items: center;
    padding: 2.5% 0;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {
    main {
        padding: 5% 0;
    }
}