
.proposta{
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

.proposta h2, .proposta h3 {
    color: #fff378;
    text-align: center;
}

.proposta h2 {
    padding: 1.25% 0;
    font-size: 24px;
    text-wrap: nowrap;
}

.proposta h3 {
    font-size: 20px;
    text-wrap: wrap;
    width: 50%;
    padding-bottom: 2.5%;
}
  
  .form{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .input{
    margin-bottom: 14px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #fff378;
    padding: 1.25%;
  }
  
  .input::placeholder, .textarea::placeholder {
    color: #051962;
  }

  .textarea{
    margin: 0 0 1.25% 0;
    border-radius: 16px;
    padding: 1.25%;
    height: auto;
    resize: none;
    border: 3px solid #fff378;
  }
  
  .button{
    border: 3px solid #fff378;
    width: 100%;
    background-color: transparent;
    color: #fff378;
    border-radius: 12px;
    padding: 2.5%;
    transition: transform 0.3s ease-in-out;
}
  
  .button:hover{
    background-color: #f5fdfd;
    color: #051962;
    transform: scale(1.05);
  }

@media screen and (max-width: 450px) {
    .proposta h2 {
        width: 90%;
        font-size: 20px;
        padding: 2.5% 0;
    }
    
    .proposta h3 {
        width: 90%;
        font-size: 18px;
    }
    
    .form {
        width: 80%;
    }
}