@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 5% 0 2.5% 0;
}

.header__content {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.header__avatar {
    width: 33%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--text-color);
}

.header__tit, .header__sub, .header__redes h2 {
    text-align: center;
    padding: 1.25% 0;
}

.header__tit {
    font-size: 32px;
}

.header__sub, .header__redes h2 {
    font-size: 24px;
}

.header__redes, .header__redes ul {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.header__redes {
    flex-direction: column;
}

.header__redes ul{
    justify-content: space-around;
    cursor: pointer;
}

.header__redes ul li {
    padding: 1.25%;
    transition: transform 0.3s ease-in-out;
}

.header__redes ul li:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 450px) {
    header {
        padding: 5% 0;
    }

    .header__content {
        max-width: 90%;
    }

    .header__tit, .header__sub, .header__redes h2, .header__redes li {
        padding: 2.5% 0;
    }

    .header__avatar {
        width: 20%;
    }

    .header__tit {
        font-size: 24px;
    }

    .header__sub, .header__redes h2{
        font-size: 20px;
    }

    .header__redes ul {
        flex-wrap: wrap;
    }

    .header__redes ul li {
        padding: 2.5%;
    }
}

@media screen and (max-width: 225px) {
    .header__tit, .header__sub, .header__redes h2, .header__redes ul li {
        padding: 5% 0;
        text-wrap: wrap;
    }  

    .header__tit {
        font-size: 16px; 
    }

    .header__sub, .header__redes h2{
        font-size: 14px;
    }

    .header__redes ul{
        flex-direction: column;
        font-size: small;
    }

    .header__redes ul li {
        flex: 0 1 calc(25% - 10px);
    }
}
