@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background: #04080d;
}

.footer span {
    width: 90%;
    color: #fff478;
    font-size: 12px;
    text-align: center;
}