#projetos {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.projetos__tit {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

#projetos h2 {
    color: #fff378;
    font-size: 24px;
    padding: 1.25%;
    text-wrap: nowrap;
    text-align: center;
}

.fa-mobile {
    rotate: -45deg;
}

#projetos .fa-mobile, #projetos .fa-rotate-left {
    padding: 0 2.5%;
    display: none;
}

#projetos ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projetos ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47.5%;
    color: #fff378;
    text-align: center;
    border: 1px solid #fff378;
    padding: 1.25%;
    margin: 1.25%;
}

.projeto img {
    width: 100%;
    height: auto;
}

.projeto a {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.25%;
}

.projeto h3, .projeto h4 {
    text-align: center;
}

.tags {
    display: flex;
    justify-content: space-evenly;
}

.tag {
    border: 1px solid #fff378;
    background-color: #f5fdfd;
    color: #051962;
    border-radius: 8px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 450px) {
    #projetos h2 {
        width: 90%;
        font-size: 20px;
        padding: 2.5% 0;
    }

    #projetos .fa-mobile, #projetos .fa-rotate-left {
        display: flex;
    }
    
    #projetos ul li {
        width: 90%;
    }
    
    .projeto a {
        flex-direction: row;
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 225px) {
    #projetos h2 {
        font-size: 14px;
        padding: 5% 0;
        text-wrap: wrap;
    }

    #projetos .fa-mobile, #projetos .fa-rotate-left {
        display: none;
    }
    
    #projetos ul li {
        width: 90%;
    }
    
    .projeto a {
        flex-direction: row;
        width: 100%;
        font-size: 12px;
    }
}