:root {
  --bg-color: #04080d;
  --text-color: #fff378;
  --ulis-color: #fff378;
}

.light-theme {
  --bg-color: #f5fdfd;
  --text-color: #051962;
  --ulis-color: #051962;
}
  
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

ul li a span {
  color: var(--ulis-color);
}

.tema {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 2.5% 0;
}

.theme-switch {
  position: relative;
  width: 80px;
  height: 40px;
  background-color: var(--text-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transition: background 0.3s ease;
}

.switch-indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.dark {
  left: 5px;
}

.light {
  left: 45px;
}

.moon-icon {
  margin-left: 10px;
  cursor: pointer;
}

.sun-icon {
  margin-right: 10px;
  cursor: pointer
}

@media screen and (max-width: 450px) {
  .tema {
    padding: 5% 0;
  }
}

@media screen and (max-width: 225px) {
  .theme-switch {
    height: 30px;
    width: 70px;
  }
  .switch-indicator {
    width: 20px;
    height: 20px;
  } 
  
  .moon-icon, .sun-icon {
    font-size: 15px;
  }

  .moon-icon {
    margin-left: 5px;
  }

  .sun-icon {
    margin-right: 5px;
  }
}