.resumo {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 2.5%;
    justify-content: center;
    align-items: center;
}

.resumo__content {
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.resumo__tit, .resumo__content p {
    text-align: center;
}

.resumo__tit {
    font-size: 24px;
    padding: 1.25% 0;
}

.resumo__content p {
    font-size: 16px;
}

.resumo__content span {
    color: #aa0612;
}

@media screen and (max-width: 450px) {
    .resumo__tit, .resumo__content p {
        padding: 2.5% 0;
    }
    
    .resumo__tit {
        font-size: 20px;
    }

    .resumo__content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 225px) {
    .resumo {
        padding-bottom: 5%;
    }
    
    .resumo__tit, .resumo__content p {
        padding: 5% 0;
    }

    .resumo__tit {
        font-size: 14px;
    }

    .resumo__content p {
        font-size: 12px;
    }
}
